@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

html {
  background-color: #f3f4f6;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

// colors
$main-red: #ff6b6b;
$disabled-red: #ff9e9e;
$gray-shade: #bdc3c7;
$darker-red: #e74c3c;
$darker-gray: #94a3b8;

// font-sizes
$heading: 100%;
$heading-2: 80%;
$sub-heading: 60%;
$placeholder: 50%;
$small-text: 50%;
$button-text: 60%;

//dimensions
$header-height: 60px;
$sidebar-width: 250px;
$button-height: 50px;
$bar-padding: 20px;
$main-padding: 50px;

// modal
@import "./Modal/Modal.scss";

// main container
@import "./Common/Common.scss";

// common
@import "./Common/Sidebar.scss";
@import "./Common/Header.scss";
@import "./Common/Main.scss";

// User Management
@import "./UserManagement/Login.scss";
@import "./UserManagement/Register.scss";
@import "./UserManagement/ActivateAccount.scss";
@import "./UserManagement/ForgotPassword.scss";

// Admin
@import "./Admin/UsersDashboard/Users.scss";
@import "./Admin/CompaniesDashboard/Companies.scss";
@import "./Admin/TrainingPlansDashboard/TrainingPlans.scss";

// Intern
@import "./Intern/Dashboard/InternDashboard.scss";
@import "./Intern/TrainingPlan/InternTrainingPlan.scss";
@import "./Intern/LogbookSubmissions/Submissions.scss";
@import "./Intern/SubmitLogbook/SubmitLogbook.scss";

// Supervisor
@import "./Supervisor/Dashboard/SupervisorDashboard.scss";