.tp-details {
  background-color: white;
  border-radius: 10px;
  padding: $bar-padding;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .tp-deet {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .tp-more {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1rem;
    width: 100%;
  }
}

.tp-heading {
  font-size: $heading-2;
  font-weight: bold;
}

.normal {
  font-size: $small-text;
}

.bold {
  font-size: $sub-heading;
  font-weight: bold;
}

.tp-tasklist {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  .tp-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: $bar-padding;
    margin-bottom: 0.1rem;

    &.past-due {
      box-shadow: none;
      border: 2px solid $main-red;

      .bold,
      .normal {
        color: $main-red;
      }
    }

    .detail-group1 {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
    }
  }
}
