.container {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba($color: #000000, $alpha: 0.25);
}

label {
  font-size: $sub-heading;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

input {
  height: 50px;
  border: 0.8px solid #ececec;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(3, 3, 3, 0.1);
  z-index: 100;
  padding: 10px;
  margin-bottom: 0.5rem;
  font-size: $placeholder;

  &::placeholder {
    position: absolute;
    top: 30%;
    color: $darker-gray;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 2px 2px 4px rgba(3, 3, 3, 0.2);
  }
}

.button-main {
  height: $button-height;
  background-color: $main-red;
  border: none;
  border-radius: 10px;
  font-size: $button-text;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: $darker-red;
  }

  &.create {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.8rem;
    font-weight: bold;
    font-size: $small-text;
    height: 40px;
  }
}

.button-secondary {
  height: $button-height;
  background-color: white;
  border: 1px solid $main-red;
  border-radius: 10px;
  font-size: $button-text;
  color: $main-red;

  &:hover {
    cursor: pointer;
    background-color: #ffb8b2;
    color: white;
  }
}

@import "./Table.scss";
