.Header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: $header-height;
  padding: 10px $bar-padding;
  z-index: 1;
  border-bottom: 2px solid $gray-shade;

  .header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main-red;

    span {
      font-size: calc(($heading-2) - 5px);
    }
  }

  .header-user {
    display: flex;
    align-items: center;
    color: $main-red;

    .user-name {
      margin-right: 0.3rem;
      font-size: $small-text;
    }
  }
}
