.Header {
  display: flex;
  justify-content: space-between;
  background-color: $darker-gray;
  height: $header-height;
  padding: 10px $bar-padding;
  color: white;

  .header-title {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: $heading-2;
    }
  }
}
