main {
  margin-left: $sidebar-width;
  margin-top: $header-height;
  padding: $bar-padding;
  flex: 1;
  overflow: auto;

  .main-dashboard {
    .main-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;

      .main-heading {
        font-weight: bold;
      }
    }

    .main-content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
