.activate {
  margin: $main-padding;

  .heading {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .description {
    font-size: $small-text;
    margin-bottom: 1rem;
    max-width: 400px;
    line-height: 1.5;
  }

  .activate-content {
    display: flex;
    flex-direction: column;
  }
}
