.forgot {
  margin: $main-padding;
  min-width: 400px;

  .heading {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .description {
    font-size: $small-text;
    margin-bottom: 1rem;
    max-width: 400px;
    line-height: 1.5;
  }

  .forgot-content {
    display: flex;
    flex-direction: column;
  }

  a {
    font-size: $small-text;
    color: black;
  }

  a:hover {
    font-weight: bold;
  }
}
