.companies-dashboard {
  .companies-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    .heading {
      font-weight: bold;
    }
  }
}
